.side
  .side__header
    .side__header__box
      .side__header__box__user-name
        = current_user.name
      %ul.side__header__box__icon
        %li.side__header__box__newgroup
          = link_to new_group_path do
            = icon('far fa-edit',  class: "icon")

        %li.side__header__box__cog
          = link_to edit_user_path(current_user.id) do
            = icon('fa fa-cog', class: "icon")

  .side__groups
    - current_user.groups.each do |group|
      .side__groups__group
        = link_to group_messages_path(group) do
          .side__groups__group--name
            = group.name
          .side__groups__group--messages
            =group.show_last_message

